body {
    margin:0;
    padding: 0;
    overflow: hidden;
}

#map {
    width: 100%;
    height: 100%;
    position: relative;
}

.header {
    grid-area: header;
    font-size: 25px;
    height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif'
}

.grid-container {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "header"
    "right";
}

/* Left Panel */
.left {
  grid-area: left;
  width: 20vw;
  height: 100vh;
  border: 5px solid grey;
}

/* Table of Contents (Layers) */
.toc {
  margin-left: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Right Panel */
.right {
  grid-area: right;
  width: 100vw;
  height: 100vh;
  border: 5px solid grey;
}

.mousePosition {
  position: fixed;
  top: auto;
  right: auto;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(225, 225, 225, .6);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}


.ol-scale-line {
  background: rgba(255,255,255,0.9);
  border: 1px solid #000;
  color: #000;
  font-weight: bold;
  padding: 2px 6px;
  display: block !important;
}